version: 2
jobs:
  build_image:
    docker:
      - image: docker:stable-git
    environment:
      ORG_NAME: iynere
      CONTAINER_NAME: dockerfile-wizard-test
      CONTAINER_VERSION: 0.1
      LINUX_VERSION: UBUNTU_TRUSTY
        # DEBIAN_JESSIE (8) or
        # DEBIAN_STRETCH (9) or
        # UBUNTU_TRUSTY (14.04) or
        # UBUNTU_XENIAL (16.04)

      RUBY_VERSION: 2.3.4
        # select a version number, i.e., 2.3.4, from https://cache.ruby-lang.org/pub/ruby, or comment out if you don't need Ruby
        
      NODE_VERSION: 8.6.0
        # select a version number, i.e., 8.0.0, from https://nodejs.org/dist, or comment out if you don't need Node
        
      PYTHON_VERSION: 2.7.13
        # select a version number, i.e., 2.7.13, from https://python.org/ftp/python, or comment out if you don't need Python

      # PHP: 5.6.30
      #   # select a version number, i.e, 7.1.5, from http://se1.php.net/releases

      JAVA: true
        # comment out if you don't need Java

      MYSQL_CLIENT: true
        # comment out if you don't need the MySQL client

      POSTGRES_CLIENT: true
        # comment out if you don't need the Postgres client
        
    steps:
      - checkout
      
      - run: |
          chmod +x generate.sh
          bash generate.sh > Dockerfile
      
      - setup_remote_docker
      
      - run: docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
      
      - run: docker build -t $ORG_NAME/$CONTAINER_NAME:$CONTAINER_VERSION .
      
      - run: docker push
      
  test_image:
    docker:
      - image: iynere/dockerfile-wizard-test:0.1
      
    steps:
      
      - checkout
      
workflows:
  version: 2
  dockerfile_wizard:
    jobs:
      - build_image:
          context: org-global
          
      - test_image:
          requires:
            - build_image